<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
</head>
<body>
<div class="super_container">
<div class="super_container_inner">
<div class="super_overlay"></div>
<div class="products">
<div class="container">
<div class="row">
<div class="col-lg-6 offset-lg-3">
<div class="section_title text-center">Popular on White Label</div>
</div>
</div>
<div class="row products_row">
<div class="col-xl-4 col-md-6" *ngFor='let i of products'>
<div class="product">
    <div class="prodHov">
<div class="zoom"><img  [src]='i.imageSrc[0]' alt="">
<div *ngFor="let w of i.wishlistedUsers" class="middle">
    
    <button class="btn middle" (click)="isWishlist(i.id)" *ngIf="isLoggedIn">
        <!-- <span class="glyphicon glyphicon-heart-empty"></span> -->
        <i [ngClass]="w.id==userId && w.isWishlisted ?  'heart fa fa-heart-o' : 'heart fa fa-heart' "></i>
    </button>
    <button class="btn middle" (click)="isWishlist(i.id)" *ngIf="!isLoggedIn">
            <!-- <span class="glyphicon glyphicon-heart-empty"></span> -->
            <i class="heart fa fa-heart-o"></i>
    </button>
</div>

    <button class="btn middle cart-pos" [routerLink]="['/product',i.id]">
        <!-- <span class="glyphicon glyphicon-heart-empty"></span> -->
        <i class="fa fa-eye"></i>
    </button></div>
</div>

<div class="product_content">
<div class="product_info d-flex flex-row align-items-start justify-content-start">
<div>
<div>
<div class="product_name"><a href="product.html">{{i.title}}</a></div>
</div>
</div>
<div class="ml-auto text-right">
<div class="product_price text-right">${{i.price}}</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
